.h1-section {
  padding: 4rem 0;

  & + section {
    padding-top: 0;
  }
}
.heading {
  .heading-img {
    width: 250px;
  }
}

.rihkee-heading {
  display: flex;
  justify-content: center;
  align-items: center;

  @include break('mobile') {
    display: block;
  }
  .added-text {
    text-transform: none;
  
    & > span:first-child {
      font-family: sans-serif;
      transform: rotate(45deg);
      display: inline-block;
      margin: 0 3.5rem;
    }

    @include break('mobile') {
      display: block;

      & > span:first-child {
        margin-right: 0;
      }

      & > span:last-child {
        display: block;
      }
    }
  }
}
