.header {
  position: absolute;
}
.footer {
  position: fixed;
  z-index: 9999;
}
.header {
  left: 15px;
  top: 15px;
}

.footer {
  right: 15px;
  bottom: 15px;
}

.icon {
  font-size: 5rem;
  color: $river-blue;
  transition: color 0.3s;

  @include break('mobile') {
    font-size: 3.8rem;
  }

  &:hover {
    color: $rust;
  }
}

.comment-button {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  padding: 0;

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: transparent;

    .icon {
      color: $rust;
    }
  }
}