.video-section {
  @include bg-line-art('../assets/flipped-mobile-line-bg.svg', bottom right);
  background-size: contain;
}

.lyrics {
  text-align: center;
  margin-top: 2rem;

  h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  &>p {
    margin-bottom: 2.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.bio-styles {
  p {
    display: inline-flex;
    width: 100%;
    margin-bottom: 0;
  }

  p:nth-of-type(6) {
    margin-top: 2rem;
  }
}