.card-grid {
  display: block;
  grid-column: 6 / -6;

  @include break('tablet') {
    grid-column: 2 / -2;
  }
}

.card {
  background-color: $grey-bg;
  border-radius: 4px;
  transition: background-color 0.3s;

  h3 {
    font-size: 3.2rem;
    font-weight: normal;
    margin-right: 2rem;
    width: 48px;
    text-align: right;

    &::after {
      content: '.';
    }
  }

  p {
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.hero {
  @include bg-line-art('../assets/flipped-desktop-line-bg.svg', bottom);
  background-size: 150%;

  .instructions {
    grid-column: 6 / -6;
    margin: 1.5rem 0 5rem;
    
    h2 {
      font-size: 4.2rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    @include break('tablet') {
      grid-column: 2 / -2;
    }
  }

  .card-grid {
    display: grid;
    grid-column: 1 / -1;
    background-color: $river-blue;
    padding: 4rem 0 8rem;
    width: 100%;
  }

  .card {
    grid-column: 6 / -6;
    background-color: $grey-bg;
    margin-bottom: 1.5rem;

    &.active {
      background-color: tint($thistle, 30%);
    }

    &.disabled {
      background-color: shade($grey-bg, 20%);
      transition-duration: 0.6s;
    }

    &.placeholder {
      width: 100%;
      min-height: 220px;
      max-width: 318px;
      background-color: tint($river-blue, 60%);
    }
  }
}

.transcript-section {
  padding: 0 0 4rem;
  @include bg-line-art('../assets/flipped-desktop-line-bg.svg', bottom);

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .card-grid {
    grid-column: 4 / -4;

    @include break('tablet') {
      grid-column: 2 / -2;
    }

    .card {
      display: flex;
      margin-bottom: 2rem;
      background-color: transparent;

      h3 {
        font-size: 1.8rem;
        font-weight: 700;
        width: 40px;
      }

      &>div {
        width: 100%;
      }
    }
  }
}