.hero {
  min-height: calc(100vh - 95px);
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include break('tablet') {
    display: block;
  }

  .bg-wrapper {
    order: 2;
    position: relative;
    height: auto;
    width: 100%;
    max-width: 1050px;
    display: inline-block;
    overflow: hidden;

    @include break('tablet') {
      max-width: 100%;
    }
  }

  .artists-nav li {
    position: absolute;
    max-width: 142px;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
  }

  .extra-nav {
    order: 1;
    padding: 3rem 0 3rem 5rem;
    min-width: 234px;

    li a {
      color: $algae;
      text-decoration: underline solid transparent;
      transition: text-decoration 0.3s;

      &:hover,
      &:focus {
        text-decoration: underline solid $algae;
      }
    }

    @include break('tablet') {
      padding: 2rem 4.5rem 0;
      background-color: shade($river-blue, 30%);
      text-align: right;

      li a {
        color: $thistle;

        &:hover,
        &:focus {
          text-decoration: underline solid $thistle;
        }
      }
    }

    @include break('mobile') {
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2.5rem 0 2rem;

      &:after {
        content: '';
        display: inline-block;
        width: 145px;
        height: 1px;
        background-color: $grey-bg;
        position: absolute;
        bottom: 0;
      }
    }
  }
}