.hero {
  min-height: calc(100vh - 95px);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include break('tablet') {
    display: block;
  }

  .bg-wrapper {
    order: 2;
    position: relative;
    height: auto;
    width: 100%;
    max-width: 1050px;
    display: inline-block;
    overflow: hidden;

    @include break('tablet') {
      max-width: 100%;
    }
  }

  .artists-nav li {
    position: absolute;
    max-width: 142px;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
  }

  .extra-nav {
    order: 1;
    padding: 3rem 0 3rem 5rem;
  }
}

.home-footer {
  background-color: shade($river-blue, 30%);
  padding: 2rem 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cca-logo {
    max-width: 300px;
  }
  .credits {
    p {
      font-size: 1.6rem;
      color: $grey-bg;
      text-align: right;

      a {
        font-size: inherit;
        color: $thistle;
        text-decoration: underline solid transparent;
        transition: text-decoration 0.3s;
        &:hover {
          text-decoration: underline solid $thistle;
        }
      }
    }
  }
}