.hero {
  min-height: auto !important;
}

.city-poem,
.lake-poem,
.essay-section {
  padding: 4rem 0;

  p,
  h2 {
    margin-bottom: 2rem;
  }

  p {
    text-align: justify;
    // text-align-last: justify;
  }

  h2 {
    font-size: 3.4rem;
    text-decoration: underline solid;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.background-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.poem-wrapper {
  padding: 14rem;
  @include break('tablet') {
    padding: 8rem;
  }
  @include break('mobile') {
    padding: 4rem;
  }
}

.city-poem {
  padding: 8rem 0 0;
  @include bg-line-art('../assets/flipped-desktop-line-bg.svg', bottom);

  @include break('mobile') {
    padding-bottom: 0;
    padding-top: 0;
  }
  .background-img {
    grid-column: 6 / -6;
    background-image: url('https://images.ctfassets.net/1an3rh29zpsy/7pyoTBVBm2NukYWbvpDJx3/f2c5d99746c4afb103fe1f614e795d73/IMG_3805-min.png');

    @include break('tablet') {
      grid-column: 2 / -2;
    }
    @include break('mobile') {
      grid-column: 1 / -1;
    }
  }

  .poem-wrapper {
    background-color: rgba(15, 37, 46, 0.8);

    h2 {
      color: $grey-bg;
    }

    p {
      color: $grey-bg;
    }
  }
}

.lake-poem {
  padding-top: 0;
  @include break('mobile') {
    padding-top: 0;
  }
  .background-img {
    grid-column: 1 / -1;
    background-image: url('https://images.ctfassets.net/1an3rh29zpsy/4ErZwrdPYIua7B5sXHsZmJ/9aeb66355039f2b3ee9b6f607ddf435a/IMG_3809-min.png');
  }

  .poem-wrapper {
    background-color: rgba(239, 232, 245, 0.9);
    // background-color: rgba(169, 223, 236, 0.7);
    // background-color: rgba(153, 216, 212, 0.7);
  }
}

.essay-section {
  @include bg-line-art('../assets/flipped-desktop-line-bg.svg', bottom);
  .citation-num {
    font-size: 1.1rem;
    position: relative;
    top: -7px;
  }

  .annotations {
    margin-top: 8rem;

    ol {
      margin-left: 2rem;
    }
    
    &::before {
      content: '';
      width: 30%;
      height: 2px;
      background-color: $deep-waters;
      display: inline-block;
      margin-bottom: 1rem;
    }

    li {
      margin-bottom: 1.2rem;
      list-style-type: decimal;
      font-size: 1.1rem;
      &::marker {
        position: relative;
        top: -10px;
      }

      .citation {
        font-size: 1.8rem;
        position: relative;
        top: 5px;
      }
    }
  }
}