.content-section {
  padding-top: 2rem;
  @include bg-line-art('../assets/flipped-desktop-line-bg.svg', bottom right);
  background-size: contain;

  @include break('mobile') {
    @include bg-line-art('../assets/flipped-mobile-line-bg.svg', bottom right);
    background-size: contain;
  }
}

.wrapper {
  position: relative;
  margin: 0 auto;
}

.image,
.gif {
  max-width: 550px !important;
}

.gif {
  position: absolute !important;
  top: 0;
  left: 0;
}

.preload {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: -1;

  img {
    visibility: hidden;
  }
}