.content-section {
  padding-top: 0;
  @include bg-line-art('../assets/flipped-mobile-line-bg.svg', bottom right);
  background-size: contain;

  @include break('mobile') {
    @include bg-line-art('../assets/flipped-mobile-line-bg.svg', bottom center);
  }
}

.images-wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8rem;

  @include break('mobile') {
    grid-template-columns: 1fr;
  }
}

.audio-bar {
  justify-self: center;
  margin: 4rem;
}

.poem-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8rem;

  @include break('mobile') {
    grid-template-columns: 1fr;
  }

  .poem {
    &:last-of-type {
      grid-column: 1 / span 2;

      @include break('mobile') {
        grid-column: 1 / 2;
      }
    }
  }

  span {
    display: inline-block;

    &.jump1 {
      margin-left: 60px;
    }

    &.jump2 {
      margin-left: 120px;
    }

    &.jump3 {
      margin-left: 300px;
    }

    &.jump4 {
      margin-left: 500px;
    }

    @include break('mobile') {

      &.jump1,
      &.jump2,
      &.jump3,
      &.jump4 {
        margin-left: 40px !important;
      }
    }
  }
}