.audio-card-styles {
  display: flex;
  align-items: center;
}

.controls-wrapper {
  width: 100%;
  position: relative;
}

.audio-controls {
  margin: 0;
  padding: 5px 1rem;

  button {
    svg {
      font-size: 3rem !important;
    }
    & + div {
      margin: 0 1rem;
      height: 5px;
    }
  }
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: tint($deep-waters, 0%);
  border-radius: 4px;
}